{erl_opts, [
    debug_info,
    warn_missing_spec, warnings_as_errors,
    {parse_transform, lager_transform},
    {i, "deps/"},
    {i, "../"}
]}.

{deps, [
    {lager, ".*",
        {git, "git://github.com/basho/lager.git", {branch, "master"}}},
    
    {eunit_formatters, ".*",
        {git, "git://github.com/seancribbs/eunit_formatters", {branch, "master"}}}
]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_opts, [verbose,
              no_tty,
              {report, {eunit_progress, [colored]}}]}.

{xref_checks, [undefined_function_calls]}.
